<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ dump() }}
        {# base.html.twig #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Roles:
                <ul>
                    {% for role in app.user.roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
